
.gallery_product
{
    margin-bottom: 30px;
    /*height: 500px;*/
}
.gallery_product img
{
    position: relative;
    float: left;
    width: 100%;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
